.listnewPage {
  .new_list {
    max-width: 500px;
    margin: 100px auto 0;
  }

  .card {
    margin-bottom: 10px;
    padding: 10px;
    &_title {
      font-size: 17px;
    }
    &_detail {
      display: none;
      &.is-exist {
        display: block;
        color: #999;
        & > i {
          display: block;
        }
      }
    }
  }
}